.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 10%;
  color: white;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  input {
    padding:10px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:30px;
    outline:none;
    color: gray;
    margin: 0 10px;
  }
  button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 5px;
    height:30px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    border: none;
    transition: 0.2s;
    width: 80px;
    border-radius: 13px;
    cursor: pointer;
    &:hover{
      background: rgb(117, 208, 158);
      outline:none;
    }
    &:active {
      background: rgb(33,147,90);
      box-shadow: 0 3px rgb(33,147,90) inset;
      outline:none;
    }
  }
}
button:active, button:focus {
  outline: none;
}