.message{
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    width: 600px;
}
.App {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}
.sendMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sendMessage button {
    margin-top: 10px;
}
.sendMessage textarea {
    padding: 10px;
}
.name_login{
    display: flex;
    margin-top: 10px;
}
.name_login button{
    margin-left: 10px;
}
.message_wrapper {
    display: flex;
    flex-direction: column;
}