.message{
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    width: 300px;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.sendMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sendMessage button {
    margin-top: 10px;
}
.sendMessage textarea {
    padding: 10px;
}